
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: transparent;
    .navbar-brand {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, .3);
          padding: 0 1rem;
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }

.blueBg {
  background-color: rgb(58, 109, 140);
}

.desc h3 i {
  color: #2f2f2f;
  font-size: 37px;
  vertical-align: middle;
  margin-right: 12px;
}
.desc {
  padding: 30px;
  position: relative;
  background: #000;
  border: 1px solid #111111;
}
.testi-meta {
  display: block;
  margin-top: 20px;
}
.testimonial h4 {
  font-size: 18px;
  color: #ffffff;
  padding: 13px 0 0;
}
.testimonial small {
  margin-top: 7px;
  font-size: 16px;
  display: block;
}